body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway'), url(./fonts/Raleway.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url(./fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: local('Raleway-SemiBold'), url(./fonts/Raleway-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Medium';
  src: local('Raleway-Medium'), url(./fonts/Raleway-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: local('Raleway-ExtraBold'), url(./fonts/Raleway-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-ExtraLight';
  src: local('Raleway-ExtraLight'), url(./fonts/Raleway-ExtraLight.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Italic';
  src: local('Raleway-Italic'), url(./fonts/Raleway-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Light';
  src: local('Raleway-Light'), url(./fonts/Raleway-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url(./fonts/Raleway-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Thin';
  src: local('Raleway-Thin'), url(./fonts/Raleway-Thin.ttf) format('truetype');
}